@model nguyenvankhoat591.Models.NVK0591

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NVK0591</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NVKId" class="control-label"></label>
                <input asp-for="NVKId" class="form-control" />
                <span asp-validation-for="NVKId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NVKName" class="control-label"></label>
                <input asp-for="NVKName" class="form-control" />
                <span asp-validation-for="NVKName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NVKGender" /> @Html.DisplayNameFor(model => model.NVKGender)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
